html, body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

#wrapper header{
	padding-top: 15px;
	background-image: url(images/header-bg.png);
	height: 35px;
}

	#wrapper header h1 {
		display: inline-block;
		color: #575E5B;
		font-size: 16px;
		vertical-align: middle;
		text-transform: uppercase;
		margin-left: 15px;
	}
	
#nav {
	font-size: 14px;
	float: right;
	color: #575E5B;
}

.clear {
	clear: both;
}
	
	#nav ul {
		list-style-type: none;
	}
	
	#nav ul li {
		display: inline-block;
		margin-right: 20px;;
	}
	
#searchBar {
	font-size: 14px;
	display: block;
	height: 25px;
	background: black;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#archives {
	color: #C6C6C6;
	float: left;
}

	#archives a {
		text-decoration: none;
		color: #C6C6C6;
	}
	
#search {
	float: right;
}

	#search a {
		text-decoration: none;
		color: #C6C6C6;
	}
	
#content {
	margin-top: 20px;
}

	#content h1 {
		color: #575E5B;
		font-size: 24px;
		margin-bottom: 15px;
	}
	
	#content article {
		width: 955px;
	}
	
		#content article p {
			color: #575E5B;
			font-size: 14px;
			margin-bottom: 10px;
		}